<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- … -->
        <title>Contactanos</title>
    </head>
    <body>
        <!-- … -->
        <h1>Ingrese Informacion</h1>
        {% if form.errors %}
        
        <p style="Color: red;"> por favor revisar campos</p>

        {% endif %}

        <form action="" method="POST"> {% csrf_token %}
            <table>
                {{ form.as_table}}
            </table>
            <input type="submit" value="Enviar"/>
        </form>

        

    </body>
</html>